<div class="panel panel-default">
  <div class="panel-heading">{{ post.nomePessoa }} disse:
    <div class="acoes">
      <div class="like-container">
          <span class="glyphicon glyphicon-heart"  (click)="curtiu(post)"></span>
        {{ post.qtdLikes }}
      </div>
      <div class="edit-container">
        <span class="glyphicon glyphicon-pencil" (click)="editarPost(post)"></span>
      </div>
      <div class="share-container">
        <span class="glyphicon glyphicon-trash" (click)="excluirPost(post.id)"></span>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p id="texto" [class.editando]="editavel" [attr.contenteditable]="editavel ? '': null" >{{ post.texto }}</p>
    <button *ngIf="editavel" class="btn btn-primary" type="button" (click)="salvarAlteracoes(post)" >Salvar alterações</button>
    <button *ngIf="editavel" class="btn btn-danger" type="button" (click)="cancelar()" >Cancelar</button>
  </div>
</div>